<!-- <div class="header">
    <a href="/signup"> 
        <img src="../../../assets/undo_FILL0_wght400_GRAD0_opsz48.png" style="margin-bottom: 20px;" alt=""></a>
    </div> -->
<div class="header-container">
    <div class="logo">
        <ul>
            <li class="f">F</li>
            <li class="u">u</li>
            <li class="n">n</li>
            <li class="d">d</li>
            <li class="o">o</li>
            <li class="o1">o</li>
        </ul>
    </div>
    <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">

        <h5 class="second-section">
        Find your email
        </h5>
        <div class="third-section">
            Enter your recovery email
        </div>
        <div class="input-field">
            <mat-form-field appearance="outline" style="width: 350px;" >
                <mat-label>Email</mat-label>
                <input class="input" matInput placeholder="Email" type="text"
                    formControlName="email">
            </mat-form-field>

        </div>

        <div class="submit-field" >
            <div>
                <button (ngSubmit)="onSubmit()" routerLink="/resetpassword" class="button">Next</button>
            </div>
        </div>
    </form>

</div>