.header-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 0.5px solid rgb(236 224 224);
    overflow: hidden;
    padding: 52px 33px 30px;
    border-radius: 10px;
    margin-left: 30%;
    width: 350px;
    height: 280px;
    margin-top: 94px;

}

.logo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;

}

.f {
    color: rgb(9, 167, 229);
}

.u {
    color: red;
}

.n {
    color: yellow;
}

.d {
    color: rgb(9, 167, 229);
}

.o {
    color: green;
}

.o1 {
    color: red;
}

.second-section {

    color: #202124;
    font-size: 24px;
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 400;
    line-height: 1.3333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;

}

.third-section {
    padding-bottom: 1px;
    padding-top: 7px;
    color: #202124;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: system-ui;
}

// .input{
//     margin: 0rem;
//     font-size: 14px;
//     height: 20px;
//     width: 200%;
// }
.input-field {

    margin: 0rem;
    font-size: 14px;
    height: 20px;
    width: 100%;
    padding: 7px 9px;
    margin-bottom: 3rem;
    margin-left: -12px;
    position: relative;
    top: 20px;
    // border: 1px solid black;
    box-sizing: border-box;
    // color: green($color: #000000);

}


.submit-field {
    display: flex;
    justify-content: end;
    // border: 1px solid black;
    height: 50px;
    position: relative;
    top: 40px;
    // margin-left: -8px;
    // margin-top: 26px;
    // min-height: 48px;
    // padding-bottom: 20px;

}

.button {
    border-radius: .5rem;
    box-sizing: border-box;
    background-color: #1a73e8;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    cursor: pointer;
    height: 50px;
    // border: 1px solid black;
    position: relative;
    // top: 5px;

}

// @media (max-width:601px) {
//     .header-container {
//         display: flex;
//         flex-direction: column;
//         align-content: center;
//         border: 0.5px solid rgb(236 224 224);
//         overflow: hidden;
//         padding: 52px 33px 30px;
//         border-radius: 10px;
//         margin-left: 30%;
//         width: 25rem;
//         height: 50%;
//         margin-top: 94px;
//     }
//     .button{
//         position: relative;
//         right: 70px;    }
// }