.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;


}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  // margin-bottom: 10px;
}

h1.example-app-name {
  margin-left: 8px;

}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;

}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;

}
//   .img{
//     // border: 1px solid black;
//     position: relative;
//     left: 50px;
//     height: 30px;
//     width: 30px;
//   }
.settinglogo{
//   border: 1px solid black;
position: relative;
left: 40px;
height: 30px;
width: 30px;
}
.searchbar{
  margin-left: 15px;
   margin-top: 10px;
   width: 35px;
  //  padding: 4px 0px -9px 5px;
  margin-bottom: -10px;
}
.uperlogo{
  position: relative;
// margin-left: 5px;
// margin-right: -50px;
  height: 30px;
  width: 30px;
}


#logo{
  background-image: url('https://www.shutterstock.com/image-vector/magnifying-glass-basic-vector-icon-600w-1690477978.jpg');
  position: left;
  padding-left: 40px;
  background-size: 50px;
  background-repeat: no-repeat;
}
