<!-- <app-get-allnotes></app-get-allnotes> -->
<!--  create note -->
<!-- <app-createnote></app-createnote> -->
<!-- <app-displaynote></app-displaynote> -->
<!-- <router-outlet></router-outlet> -->
<div class="maincontainer" >
    <div class="takeAnote">
        <div class="titleInputSection">
            <input placeholder="Title" class="titleInput" >
            <div class="titleImgSection">

                <span>
                    <a class="iconstag3"> <img src="../../../assets/push pin.png"
                            height="25px"> </a>
                </span>
            </div>
        </div>
       <!-- <div> {{note.id}}</div> -->
        <div>
            <div>
                <textarea matInput placeholder="Take a note..."
                    class="noteDescription"></textarea>
                    <app-icons></app-icons>
            </div>
        </div>

    </div>
</div>
