
.takeAnote {
  width: 250px;
// border: 1px solid black;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  background: #fff;
  margin-top: 40px;
}
.takeAnote .titleInput {
  padding: 14px 16px 12px 16px;
  height: 48px;
  font-size: 1rem;
  font-weight: 500;
  color: #202124;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 8px;
}