.header-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid rgb(236 224 224);
    box-shadow: 1px 1px 1px grey;
    position: relative;
    left: 450px;
    top: 80px;
    height: 430px;
    border-radius: 10px;
    width: 400px;

}

.header {
    padding: 15px 0;
    background-color: skyblue;
    height: 20px;
    margin-bottom: 30px;

}

.logo ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    font-size: 2rem;
    justify-content: center;
    // border: 1px solid black;
    width: 350px;
}

.f {
    color: rgb(9, 167, 229);
}

.u {
    color: red;
}

.n {
    color: yellow;
}

.d {
    color: rgb(9, 167, 229);
}

.o {
    color: green;
}

.o1 {
    color: red;
}

.second-section {
    color: #202124;
    font-size: 24px;
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 400;

    margin-left: 30px;
    bottom: 10px;
    // border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    width: 350px;
}

.submit-field {
    display: flex;
    // border: 1px solid black;
    position: relative;
    width: 310px;
    top: 120px;
    justify-content: end;
    margin-left: 50px;
    height: 50px;

}

.button {
    border-radius: .5rem;
    box-sizing: border-box;
    background-color: #1a73e8;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    cursor: pointer;
    height: 50px;
    // border: 1px solid black;
    position: relative;
    bottom: 50px;

}

.mat-form-field {
    padding: 0rem;
    width: 94%;

}

.input-field {
    margin: 0rem;
    font-size: 14px;
    height: 150px;
    width: 200px;
    padding: 7px 9px;
    margin-bottom: -1rem;
    margin-left: -12px;
    // border: 1px solid black;
}

// @media(min-width:160px) and (max-width:1500px){

//     .header-container {
//         height: auto;
//         align-content: center;
//         // padding: 10px 25px 44px;
//         // margin-left: -7%;
//         // margin-top: 44px;
//         margin: auto;
//         border: 0.5px solid rgb(236 224 224);
//     }
// }