
<div class="header-container">
    <div class="logo">
        <ul>
            <li class="f">F</li>
            <li class="u">u</li>
            <li class="n">n</li>
            <li class="d">d</li>
            <li class="o">o</li>
            <li class="o1">o</li>
        </ul>
    </div>

    <h1 class="second-section">
        <span>Reset Password</span>
    </h1>
    <form [formGroup] = "resetForm" (click)= "onSubmit() ">
        <div class="input-field">
            <p>
                <mat-form-field appearance="outline" style="width: 310px; margin-left: 50px;" >
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="New Password" type="password" formControlName="password"  class="form-control">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" style="width: 310px; margin-left: 50px;" >
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword"  class="form-control">
                    <mat-hint>At least 8 charecters</mat-hint>

                </mat-form-field>
            </p>
        </div>
        <div class="submit-field">
          
                <button (ngSubmit)="onSubmit()" routerLink="/login" class="button"  >Next</button>        
        </div>
    </form>
</div>
